@import url("../css/cabecalho.css");
@import url("../css/chamada.css");
@import url("../css/base.css");
@import url("../css/destaques.css");
@import url("../css/diferenciais.css");
@import url("../css/sobre.css");
@import url("../css/contato.css");
@import url("../css/institucional.css");
@import url("../css/planos.css");
@import url("../css/rodape.css");

:root {
    --fonte-principal: 'Open Sans';
    --fonte-secundaria: 'Montserrat';
    --branco: #FFF;
    --azul-claro: #DFE3E5;
    --vermelho-forte: #B72E2E;
    --cinza-escuro: #4F4C4C;
    --cinza-claro: #F7F4F4;
    --cinza-medio: #D9D9D9;

    --fonte-link: #0084FF;
    --fonte-cinza: #666;
    --borda-cabecalho-mobile: #103D4A;
    --bg-rodape: #333;
    --bg-chamada-mobile: #00161C;

    --planos-cartao-start: #56CCF2;
    --planos-cartao-ultra: #B04CD9;
    --planos-cartao-mega: #E33B3B;
}